@media (width < 920px) {
    .review {
        .container {
            padding: 80px 0 115px;
        }

        .review_block {
            flex-direction: column;
            margin-bottom: 80px;
            padding: 0 24px;
        }

        .review_tag {
            font-size: 12px;
            line-height: 14.4px;
            margin-bottom: 32px;
        }

        .review__slider {
            width: 100%;
        }

        .review__text {
            font-size: 24px;
            line-height: 26.4px;
            margin-bottom: 4px;
            text-indent: 50px;
        }

        .review__author {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 4px;
        }

        .review__author-profesion {
            font-size: 14px;
            line-height: 21px;
        }

        .review__banner {
            align-items: end;
            padding: 80px 24px;
            background-size: cover;
        }

        .review__banner-content {
            width: 100%;
        }

        .review__banner-title {
            font-size: 40px;
            line-height: 44px;
        }

        .review__banner-text {
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 32px;
        }

        .review__banner-backdrop {
            background: linear-gradient(275deg, rgb(255 250 71 / 10%) 30%, #0b1f2e 100%);
        }
    }
}
