$primary-bg: #eae5da;
$primary-color: #1f4a21;
$secondary-color: #bad862;
$dark-text: #0b1f2e;
$grey-text: #3d4a57;
$light-grey-text: #d2dbd3;
$light-grey-color: #8c8c8c;
$primery-button-hover: #5cb047;
$button-disabled: #e8e8e8;
$white: #fff;
$black: #000;
$card-backdrop: #4c687b;
