.footer .container {
    padding: 80px 64px 24px;
}

.footer__title {
    @include text(72px, 79.2px, $primary-color);
    width: 976px;
    margin-bottom: 40px;

    span {
        font-weight: 600;
    }
}

.btn-wrapper {
    display: flex;
    gap: 16px;
    margin-bottom: 104px;
}

.footer__info-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    gap: 24px;
}

.footer__info-item {
    @include text(14px, 21px, $primary-color);
    cursor: pointer;
}
