@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: $primary-color;
    color: $white;
    z-index: 11;

    a {
        all: unset;
    }

    .container {
        display: flex;
        padding: 24px 64px;
        animation: slideDown 1s ease forwards;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 246px;
}

.header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__item {
    position: relative;
    height: 20px;
    margin-right: 48px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
    line-height: 16.8px;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $white;
        transition: width 0.3s ease;
    }

    &:hover::before {
        width: 100%;
    }
}

.header__btn {
    padding: 16px 32px;
    border: 1px solid $white;
    border-radius: 61px;
    background: inherit;
    color: inherit;
    text-wrap: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.05);
        color: $primary-color;
        background: $white;
    }
}

.header__hamburger-menu {
    display: none;
}
