<section class="adventage" id="benefits">
    <div class="container">
        <div class="adventage__content">
            <h2 class="adventage__title">Hvorfor jobbe i <span>Baneservice?</span></h2>
            <p class="adventage__text">
                Lorem ipsum dolor sit amet consectetur. Eget elementum lacus id fames turpis aenean.
                Libero lacus nisi arcu in odio semper. Sit et in viverra aliquam quis.ааопопо66554
            </p>
            <button class="primary-btn">Fyll hjelmen</button>
        </div>
        <div class="swiper">
            <div class="adventage__card-wrapper swiper-wrapper">
                <div class="adventage__card swiper-slide">
                    <img src="./images/workers.svg" alt="" />
                    <p class="adventage__card-description">
                        I Baneservice skal vi glede oss til å gå på jobb og vi måler årlig
                        medarbeiderengasjementet i selskapet. Vi er stolte av å ha et godt
                        arbeidsmiljø med medarbeidere som trives i jobben sin og har et godt forhold
                        til kollegaene sine.
                    </p>
                </div>
                <div class="adventage__card swiper-slide">
                    <img src="./images/travel.svg" alt="" />
                    <p class="adventage__card-description">
                        Ingen arbeidsdag er lik og i Baneservice jobber vi over hele landet. Hvis du
                        liker å reise og å være ute i naturen er Baneservice noe for deg.
                    </p>
                </div>
                <div class="adventage__card swiper-slide">
                    <img src="./images//hands-helping.svg" alt="" />
                    <p class="adventage__card-description">
                        Vi ser på mangfold og ulikhet som en styrke og tror på at vi sammen kan
                        gjøre en best mulig jobb. Vi er stolte av å ha et inkluderende og godt
                        arbeidsmiljø der ulik kunnskap og erfaring verdsettes.
                    </p>
                </div>
                <div class="adventage__card swiper-slide">
                    <img src="./images/learn.svg" alt="" />
                    <p class="adventage__card-description">
                        Baneservice er en arbeidsplass der du kan utvikle deg og er en viktig del av
                        selskapet. Vi har stort fokus på oppfølging og kompetanseheving gjennom
                        ulike kurs og ikke minst «Baneserviceskolen».
                    </p>
                </div>
                <div class="swiper-slide"></div>
            </div>
        </div>
    </div>
</section>
