<section class="banner" id="banner">
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__logo">baneservice</div>
            <h2 class="banner__title">Under denne hjelmen sitter</h2>
            <p class="banner__text">..flere tusen timer med</p>
            <div class="banner__subtitle">Fyll hjelmen.</div>
            <button class="secondary-btn">Søk her</button>
            <div class="banner__features">
                <p class="banner__features-item1">Styring av arbeidsmaskiner</p>
                <p class="banner__features-item2">Hygge med venner</p>
                <p class="banner__features-item3">Anleggsarbeid</p>
                <p class="banner__features-item4">Kvalitetsikring</p>
                <p class="banner__features-item5">Kontroll av dreneringssystemer</p>
                <p class="banner__features-item6">Oppmålings arbeid</p>
                <p class="banner__features-item7">Gaming</p>
            </div>
        </div>
    </div>
</section>
