<footer class="footer">
    <div class="container">
        <h2 class="footer__title">
            Cras nibh sollicitudin elit
            <span>varius facilisi arcu feugiat amet in</span>
        </h2>
        <div class="btn-wrapper">
            <button class="primary-btn">Fyll hjelmen</button>
            <button class="secondary-btn">support@baneservice.cm</button>
        </div>
        <div class="footer__info-wrapper">
            <div class="footer__info">
                <a class="footer__info-item" href="#">+47 916 56 700</a>
                <a class="footer__info-item" href="#">post@baneservice.no</a>
                <a class="footer__info-item" href="#">LinkedIn</a>
                <a class="footer__info-item" href="#">Facebook</a>
                <a class="footer__info-item" href="#">Instagram</a>
            </div>
            <div class="footer__info">
                <p class="footer__info-item">© 2023 Baneservice. All rights reserved.</p>
                <a class="footer__info-item" href="#">Personuppgiftspolicy & Kakor</a>
            </div>
        </div>
    </div>
</footer>
