<header class="header">
    <div class="container">
        <div class="header__logo">baneservice</div>
        <div class="header__nav">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#stilling">stilling</a></li>
                    <li class="nav__item"><a href="#omOss">Om oss</a></li>
                    <li class="nav__item"><a href="#benefits">Benefits</a></li>
                    <li class="nav__item"><a href="#testimonial">Testimonial</a></li>
                </ul>
            </nav>
            <button class="header__btn">Fyll hjelmen</button>
        </div>
        <noscript>
            <style>
                .header__hamburger-menu {
                    display: none;
                }
                .header__nav {
                    display: flex;
                }
                .nav__list {
                    flex-wrap: wrap;
                }
            </style>
        </noscript>
        <button class="header__hamburger-menu">
            <img class="active" src="./images/hamburger.svg" alt="open menu" />
            <img src="./images/primary-close.svg" alt="close menu" />
        </button>
    </div>
</header>
