<header class="header">
    <div class="container header__wrapper">
        <div class="header__logo">baneservice</div>
        <div class="header__nav">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#stilling">stilling</a></li>
                    <li class="nav__item"><a href="#omOss">Om oss</a></li>
                    <li class="nav__item"><a href="#benefits">Benefits</a></li>
                    <li class="nav__item"><a href="#testimonial">Testimonial</a></li>
                </ul>
            </nav>
            <button class="header__btn">Fyll hjelmen</button>
        </div>
        <div class="header__hamburger-menu">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</header>
