<section class="main-section">
    <div class="container">
        <div class="main__info">
            <div class="main__content">
                <h1 class="main__title animateElement">
                    <span>Fyll hjelmen</span> med dine ferdigheter!
                </h1>
                <div class="main__text-wrapper">
                    <p class="main__text animateElement">
                        Hos oss i Baneservice finnes det mange muligheter, både for deg som akkurat
                        er ferdig med utdannelsen, og for deg med lang erfaring.
                    </p>
                    <button class="primary-btn animateElement">Fyll hjelmen</button>
                </div>
            </div>
            <div class="main__video animateElement">
                <img src="./images/banner-920.webp" alt="video" loading="lazy" />
                <div class="blur-container">
                    <img src="./images/play.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="main__workers" id="stilling">
            <div class="main__workers-wrapper">
                <h2 class="main__workers-title animateElement">
                    Våre <span>medarbeidere</span> er mer enn bare dyktig <span>fagfolk</span>.
                </h2>
                <div class="main__workers-tag">Vacancies</div>
                <p class="main__workers-text">
                    For at vi skal bygge fremtidens jernbane trenger vi våre medarbeidere sine
                    ferdigheter og egenskaper, derfor er vi lidenskapelig opptatt av hva som
                    befinner seg under din hjelm. om du liker fotball eller klatring, om du er
                    kreativ eller løsningsorientert, er dette ting vi verdsetter.
                </p>
            </div>
            <div class="main__cards-workers">
                <div class="main__card-item">
                    <div class="main__card-backdrop"></div>
                    <div class="main__card-info">
                        <h3 class="main__card-title">Prosjektleder</h3>
                        <div class="main__card-tag">Fagarbeider</div>
                    </div>
                    <button class="main__card-btn">
                        FYLL HJELMEN
                        <div>
                            <img src="./images/arrow-right.svg" alt="" />
                        </div>
                    </button>
                    <img
                        class="main__card-img"
                        src="./images/worker-1.png"
                        alt="image of worker"
                        loading="lazy"
                    />
                </div>
                <div class="main__card-item">
                    <div class="main__card-backdrop"></div>
                    <div class="main__card-info">
                        <h3 class="main__card-title">Energimontør</h3>
                        <div class="main__card-tag">Energimontør</div>
                    </div>
                    <button class="main__card-btn">
                        FYLL HJELMEN
                        <div>
                            <img src="./images/arrow-right.svg" alt="" />
                        </div>
                    </button>
                    <img
                        class="main__card-img"
                        src="./images/worker-2.png"
                        alt="image of worker"
                        loading="lazy"
                    />
                </div>
                <div class="main__card-item">
                    <div class="main__card-backdrop"></div>
                    <div class="main__card-info">
                        <h3 class="main__card-title">Banemontør</h3>
                        <div class="main__card-tag">Banemontør</div>
                    </div>
                    <button class="main__card-btn">
                        FYLL HJELMEN
                        <div>
                            <img src="./images/arrow-right.svg" alt="" />
                        </div>
                    </button>
                    <img
                        class="main__card-img"
                        src="./images/worker-3.png"
                        alt="image of worker"
                        loading="lazy"
                    />
                </div>
                <div class="main__card-item">
                    <div class="main__card-backdrop"></div>
                    <div class="main__card-info">
                        <h3 class="main__card-title">Signalmontør</h3>
                        <div class="main__card-tag">Signalmontør</div>
                    </div>
                    <button class="main__card-btn">
                        FYLL HJELMEN
                        <div>
                            <img src="./images/arrow-right.svg" alt="" />
                        </div>
                    </button>
                    <img
                        class="main__card-img"
                        src="./images/worker-4.png"
                        alt="image of worker"
                        loading="lazy"
                    />
                </div>
                <div class="main__card-item">
                    <div class="main__card-backdrop"></div>
                    <div class="main__card-info">
                        <h3 class="main__card-title">Lokmotivfører</h3>
                        <div class="main__card-tag">Fører</div>
                    </div>
                    <button class="main__card-btn">
                        FYLL HJELMEN
                        <div>
                            <img src="./images/arrow-right.svg" alt="" />
                        </div>
                    </button>
                    <img
                        class="main__card-img"
                        src="./images/worker-5.png"
                        alt="image of worker"
                        loading="lazy"
                    />
                </div>
                <div class="main__card-item_green">
                    <div class="main__card-logo">baneservice</div>
                    <div class="main__card-info_green">
                        <h3 class="main__card-title_green">åpen søknad</h3>
                        <p class="main__card-text_green">
                            Send oss gjerne en åpen søknad om det er andre hjelmer du ønsker å
                            fylle.
                        </p>
                        <button class="secondary-btn">Fyll hjelmen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
