<div class="mobile-menu">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#stilling">stilling</a></li>
            <li class="nav__item"><a href="#omOss">Om oss</a></li>
            <li class="nav__item"><a href="#benefits">Benefits</a></li>
            <li class="nav__item"><a href="#testimonial">Testimonial</a></li>
        </ul>
        <button class="header__btn">Fyll hjelmen</button>
    </nav>
    <div class="main__video">
        <img src="./images/banner-920.webp" alt="video" loading="lazy" />
        <div class="blur-container">
            <img src="./images/play.svg" alt="" />
        </div>
    </div>
</div>
