<section class="review" id="testimonial">
    <div class="container">
        <div class="review_block">
            <div class="review_tag">Testimonials</div>
            <div class="review__slider">
                <div class="review__slider-card">
                    <p class="review__text">
                        “jeg møter hyggelige og imøtekommende kolleager, både ut på prosjket og inne
                        på kontoret. det å ha mulighetent til å jobbe både inne og ute er en
                        kjempefordel, da blir det aldri kjedelig på jobb og jeg har mye variasjon i
                        hverdagen.
                    </p>
                    <p class="review__author">Åshild</p>
                    <p class="review__author-profesion">Klima- og miljøleder</p>
                </div>
            </div>
        </div>
        <div class="review__banner">
            <div class="review__banner-content">
                <p class="review__banner-title">
                    Vi trenger dine <span>ferdigheter</span> og <span>egenskaper</span>.
                </p>
                <p class="review__banner-text">
                    Lorem ipsum dolor sit amet consectetur. Commodo egestas purus eget arcu quis
                    aliquam facilisis a vulputate.
                </p>
                <button class="primary-btn">Fyll hjelmen</button>
            </div>
            <div class="review__banner-backdrop"></div>
        </div>
    </div>
</section>
