<section class="stat-section" id="omOss">
    <div class="container stat-section__wrapper">
        <div class="stat__tag">Om oss</div>
        <div class="stat__content">
            <h2 class="stat__title">Lorem ipsum dolor sit <span>amet consectetur</span></h2>
            <p class="stat__text_bold">
                Lorem ipsum dolor sit amet consectetur. Tortor a turpis at pharetra. Id nunc commodo
                morbi sapien diam enim. Lorem ipsum dolor sit amet consectetur.
            </p>
            <p class="stat__text">
                Facilisis nunc est enim diam nibh tellus nisl enim. Sed ultrices et morbi at. Odio
                quam vulputate tortor tellus. Scelerisque ullamcorper diam aliquam lorem.
            </p>
            <button class="primary-btn">Fyll hjelmen</button>
            <div class="stat__info">
                <p class="stat__info-title">400+</p>
                <p class="stat__info-text">
                    Lorem ipsum dolor sit amet consectetur. Facilisis nunc est enim diam nibh tellus
                    nisl enim.
                </p>
            </div>
            <div class="stat__info">
                <p class="stat__info-title">600%</p>
                <p class="stat__info-text">
                    Lorem ipsum dolor sit amet consectetur. Facilisis nunc est enim diam nibh tellus
                    nisl enim.
                </p>
            </div>
            <div class="stat__info">
                <p class="stat__info-title">10k</p>
                <p class="stat__info-text">
                    Lorem ipsum dolor sit amet consectetur. Facilisis nunc est enim diam nibh tellus
                    nisl enim.
                </p>
            </div>
        </div>
    </div>
</section>
